[Unit]
Description=Application launch booster for Sailfish Media (sandboxed)

Requires=dbus.socket booster-silica-session.path lipstick.service
After=dbus.service booster-silica-session.path lipstick.service

[Service]
Type=simple
ExecStart=/usr/bin/invoker --type=silica-session -- /usr/bin/sailjail --profile=%i -- /usr/libexec/mapplauncherd/booster-silica-media --application=%i
Restart=always
RestartSec=1
OOMScoreAdjust=-250
