[Unit]
Description=Application launch booster for Silica
After=xorg.target
Requires=dbus.socket xorg.target

[Service]
Type=notify
ExecStart=/usr/libexec/mapplauncherd/booster-silica --systemd
